@import "./assets/css/quill.css";
@import "./assets/css/prism.css";
@import "./assets/css/react-datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade{
    animation: fade 300ms linear forwards;
}